<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Would you rather?</title>
</head>
<body>
    <form action="{% url 'WYR:votes' scenario.id %}" method="post">
    
        {% csrf_token %}
    
        <fieldset>
            <Legend>Would you rather?...</Legend>

            {% if error_message %}
            <p class="error-message">
                {{ error_message }}
            </p>
            {% endif %}

            <button name="choice" value="uno">
                {{ scenario.scenario_question_1 }}
            </button>
    
            <button name="choice" value="dos">
                {{ scenario.scenario_question_2 }}
            </button>
    
        </fieldset>
    
    </form>

    <section id="buttonsect">
            
                <form action="{% url 'WYR:prev' scenario.id %}" method="post">
                    {% csrf_token %}
            
                    <input type="submit" value="Previous" id="prev" class="button">
                </form>
            
                <a href="{% url 'WYR:index' %}" class="home-button">
                    Go Home
                </a>
            
                <form action="{% url 'WYR:next' scenario.id %}" method="post">
                    {% csrf_token %}
            
                    <input type="submit" value="Next" id="next" class="button">
                </form>
            
    </section>

    
    <footer>
        <p>&copy; 2026 Matthew Chihata</p>
    </footer>
</body>
</html>